# Django secret key
SECRET_KEY=your-secret-key

# Debug mode (set to True or False)
DEBUG=True

# Database configuration
DATABASE_NAME=database-name
DATABASE_USER=database-user
DATABASE_PASSWORD=database-password
DATABASE_HOST=database-host
DATABASE_PORT=database-port